.tmc-footer {
  color: $white;
  .tmc-footer-links {
    line-height: 1.5;
    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
    ul {
      display: inline-flex;
    }
    .link-header,
    .link-header p {
      display: inline-block;
      margin-right: 0.5rem;
    }
    @extend .footer-sitemap;
    p {
      font-weight: $font-weight-bold;
      font-size: $font-size-lg;
    }
  }
  .footer-sitemap {
    margin-top: 1rem;
    @include respond-to('lg') {
      margin-top: 0;
    }
    li {
      padding-right: $padding/2;
      a {
        color: $white;
      }
    }
  }
}
