@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-Regular.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-Regular.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: normal;
	font-style: italic;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-Italic.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-Italic.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-Medium.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-Medium.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: 500;
	font-style: italic;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-MediumItalic.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-MediumItalic.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-Bold.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-Bold.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: 600;
	font-style: italic;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-BoldItalic.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-BoldItalic.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-Black.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-Black.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-style: italic;
	font-family: 'Inter-UI';
	src: url('../../fonts/Inter-UI/Inter-UI-BlackItalic.woff2') format('woff2'),
	url('../../fonts/Inter-UI/Inter-UI-BlackItalic.woff') format('woff');

	font-display: swap;
}
