//// CORE ////

// Colour //

$primary-color: #0A344D !default;
$primary-pair: #FFFFFF !default;
//
$secondary-color: #D17878 !default;
$secondary-pair: #FFFFFF !default;
//
$positive-color: #5DA265 !default;
$positive-pair: #FFFFFF !default;
//
$negative-color: #CC493D !default;
$negative-pair: #FFFFFF !default;
//
$base-color: #424242 !default;
$base-pair: #FFFFFF !default;
//
$white: #FFFFFF !default;
$light-grey: #A0A0A0 !default;
$lighter-grey: #FAFAFA !default;

// Base
$base-variant-background: $base-color !default;
$base-variant-border: darken($base-variant-background, 10%) !default;
$base-variant-color: $base-pair !default;
$base-variant-hover: darken($base-variant-background, 10%) !default;
$base-variant-active: darken($base-variant-background, 12%) !default;

// Invert
$invert-variant-background: $base-pair !default;
$invert-variant-border: darken($invert-variant-background, 10%) !default;
$invert-variant-color: $base-color !default;
$invert-variant-hover: darken($invert-variant-background, 10%) !default;
$invert-variant-active: darken($invert-variant-background, 12%) !default;

// Primary
$primary-variant-background: $primary-color !default;
$primary-variant-border: darken($primary-variant-background, 10%) !default;
$primary-variant-color: $primary-pair !default;
$primary-variant-hover: darken($primary-variant-background, 10%) !default;
$primary-variant-active: darken($primary-variant-background, 12%) !default;

// Secondary
$secondary-variant-background: $secondary-color !default;
$secondary-variant-border: darken($secondary-variant-background, 10%) !default;
$secondary-variant-color: $secondary-pair !default;
$secondary-variant-hover: darken($secondary-variant-background, 10%) !default;
$secondary-variant-active: darken($secondary-variant-background, 12%) !default;

// Positive
$positive-variant-background: $positive-color !default;
$positive-variant-border: darken($positive-variant-background, 10%) !default;
$positive-variant-color: $positive-pair !default;
$positive-variant-hover: darken($positive-variant-background, 10%) !default;
$positive-variant-active: darken($positive-variant-background, 12%) !default;

// Negative
$negative-variant-background: $negative-color !default;
$negative-variant-border: darken($negative-variant-background, 10%) !default;
$negative-variant-color: $negative-pair !default;
$negative-variant-hover: darken($negative-variant-background, 10%) !default;
$negative-variant-active: darken($negative-variant-background, 12%) !default;

// Spacing //

$padding: 1rem !default;
$margin: 1.5rem !default;
$body-spacing-y: .5rem !default;

////****************** LAYOUT ////

$layout-variant-background: $lighter-grey !default;
$layout-variant-color: $base-color !default;
//
$container-max-width: 75rem !default;
$layout-spacing-x: 1.5rem !default;
$layout-spacing-y: 2rem !default;
$layout-spacing-lg: $layout-spacing-y * 4 !default;

//// GRID ////

$grid-spacing: .5rem !default;
$grid-max-column: 16 !default;

// Breakpoints
$breakpoints: (
  sm: 28rem,
  md: 40rem,
  lg: 57.5rem,
  xl: 75rem
) !default;

// Border //

$border-width: .125rem !default;
$border-style: solid !default;
$border-radius: .2rem !default;
$border-radius-circle: 50% !default;
$no-border-radius: 0rem !default;

// Link //

$link-color: $base-color !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;

// Typography //

//******************Body
$body-font-size: 1rem !default;
$font-color: $base-color !default;
$font-family: 'Inter-UI', 'Helvetica', 'Arial', sans-serif !default;
$font-line-height: 1.3 !default;
$font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: normal !default;
$font-weight-bold: 600 !default;

// Variant
$font-size-xs: .7rem !default;
$font-size-sm: .85rem !default;
$font-size-md: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-xl: 1.5rem !default;

//******************Heading
$heading-font-color: $base-color !default;
$heading-font-family: 'Inter-UI', 'Helvetica', 'Arial', sans-serif !default;
$heading-font-weight: $font-weight-bold !default;
$heading-line-height: 1.3 !default;
$heading-min-width: 20rem !default;
$heading-max-width: $container-max-width !default;
$heading-min-font: 1rem !default;
$heading-min-modifier: 1.2 !default;
$heading-max-modifier: 1.5 !default;

//******************Title
$subtitle-font-size: $font-size-lg !default;
$title-line-height: $heading-line-height !default;
$title-spacing-y: 1.5rem !default;

//******************Transition //

$transition-effect: ease-in-out !default;
$transition-duration: .25s !default;

//// COMPONENTS ////

// Accordion //

$accordion-variant-background: transparent !default;
$accordion-variant-border: $lighter-grey !default;
$accordion-variant-toggle: $light-grey !default;
$accordion-variant-active: $light-grey !default;
//
$accordion-border-style: $border-style !default;
$accordion-border-width: $border-width !default;
$accordion-border-radius: $border-radius !default;
//
$accordion-heading-font-family: $font-family !default;
$accordion-heading-font-size: $font-size-xl !default;
$accordion-heading-font-weight: $font-weight-bold !default;
$accordion-subheading-font-family: $font-family !default;
$accordion-subheading-font-size: $font-size-lg !default;
$accordion-subheading-font-weight: $font-weight-bold !default;
//
$accordion-heading-spacing-x: 0 !default;
$accordion-heading-spacing-y: 1rem !default;
$accordion-content-spacing-x: 1rem !default;
$accordion-content-spacing-y: 1rem !default;
$accordion-toggle-spacing: 0 .5rem 0 0 !default;
//
$accordion-toggle-transition: all $transition-effect $transition-duration !default;

// Alert //

$alert-variant-background: $base-variant-background !default;
$alert-variant-color: $base-variant-color !default;
$alert-variant-border: $base-variant-border !default;
//
$alert-border-radius: $border-radius !default;
$alert-border-style: $border-style !default;
$alert-border-width: $border-width !default;
//
$alert-spacing: 1rem !default;

//******************Animation //

$slide-transition-duration: 2s !default;
$slide-transition-effect: $transition-effect !default;
$loader-bar-background: $lighter-grey !default;
$loader-bar-border: .5rem !default;
$loader-bar-border-radius: 50% !default;
$loader-bar-size: .5rem !default;
$loader-bar-transition-duration: 5s !default;
$loader-pulse-border-radius: 50% !default;
$loader-pulse-size: 2rem !default;
$loader-pulse-transition-duration: 1.75s !default;
$loader-spinner-border: .5rem !default;
$loader-spinner-border-radius: 50% !default;
$loader-spinner-size: 4rem !default;
$loader-spinner-offset: -($loader-spinner-size / 2) !default;
$loader-spinner-transition-duration: 1s !default;

// Box //

$box-variant-background: $base-variant-background !default;
$box-variant-color: $base-variant-color !default;
$box-variant-border: $base-variant-border !default;
//
$box-border-radius: $border-radius !default;
$box-border-style: $border-style !default;
$box-border-width: $border-width !default;
//
$box-spacing-x: 1rem !default;
$box-spacing-y: 1.5rem !default;

// Breadcrumb //

$breadcrumb-variant-background: transparent !default;
$breadcrumb-variant-color: $base-color !default;
$breadcrumb-variant-active: $secondary-color !default;
$breadcrumb-divider: '|' !default;
$breadcrumb-variant-divider: $base-color !default;
//
$breadcrumb-item-spacing: 1rem !default;
$breadcrumb-spacing: 1rem !default;

// Button //

$button: ('.bb-btn, a.bb-btn') !default;
//
$button-variant-background: $base-variant-background !default;
$button-variant-color: $base-variant-color !default;
$button-variant-border: $base-variant-border !default;
$button-variant-hover: $base-variant-hover !default;
$button-variant-active: $base-variant-active !default;
//
$button-border-radius: $border-radius !default;
$button-border-style: $border-style !default;
$button-border-width: $border-width !default;
//
$button-font-family: $heading-font-family !default;
$button-font-size: $font-size !default;
$button-font-weight: 400 !default;
$button-line-height: 1.3 !default;
$button-text-transform: none !default;
//
$button-spacing-x: .5rem !default;
$button-spacing-y: .5rem !default;
//
$button-transition: all $transition-effect $transition-duration !default;
// Close button
$button-close-icon-size: .125rem !default;
$button-close-size: 1.25rem !default;
$button-close-size-xs: .85rem !default;
$button-close-size-sm: 1.05rem !default;
$button-close-size-lg: 1.45rem !default;
$button-close-size-xl: 1.65rem !default;
$button-close-transform: translateX(-50%) translateY(-50%) rotate(45deg) !default;
// Loading button
$button-loader-border: .1rem !default;
$button-loader-circle: 50% !default;
$button-loader-size: .75rem !default;
$button-loader-offset: -($button-loader-size / 2) !default;
$button-loader-spacing: $button-loader-offset 0 0 $button-loader-offset !default;

//******************Card //

$card-background: $white !default;
$card-border-color: $lighter-grey !default;
$card-border-style: $border-style !default;
$card-border-width: .25rem !default;
$card-border-radius: $border-radius !default;
$card-color: $base-color !default;
$card-footer-border-color: $card-border-color !default;
$card-item-border-color: $card-border-color !default;
$card-box-shadow: 0 3px 1px -1px rgba(0, 0, 0, .1),
  0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !default;
$card-content-font-family: $font-family !default;
$card-content-spacing-x: $padding !default;
$card-content-spacing-y: $padding !default;
$card-heading-font-family: $heading-font-family !default;
$card-heading-font-weight: $font-weight-bold !default;
$card-header-spacing-x: $padding !default;
$card-header-spacing-y: $padding !default;

// Divider //

$divider-variant-border: $light-grey !default;
$divider-variant-color: $base-variant-background !default;
//
$divider-border-radius: $border-width !default;
$divider-border-style: $border-style !default;
$divider-border-width: $border-width / 2 !default;
//
$divider-content-border-width: $divider-border-width * 1.5 !default;
$divider-font-weight: 500 !default;
//
$divider-spacing-x: 1rem !default;
$divider-spacing-y: 1.5rem !default;

//******************Dropdown //

$dropdown-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .1),
  0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !default;
$dropdown-item-active-color: $primary-color !default;
$dropdown-background: $base-pair !default;
$dropdown-border: $border-width $border-style transparent !default;
$dropdown-font-size: $font-size !default;
$dropdown-border-radius: $border-radius !default;
$dropdown-menu-font-size: $font-size-sm !default;
$dropdown-menu-spacing-x: 0 !default;
$dropdown-menu-spacing-y: 0 !default;
$dropdown-item-spacing-x: .5rem !default;
$dropdown-item-spacing-y: .75rem !default;
$dropdown-item-color: $primary-color !default;
$dropdown-item-hover: $secondary-color !default;
$dropdown-item-hover-background: $lighter-grey !default;
$dropdown-item-active: $primary-color !default;
$dropdown-item-active-background: $lighter-grey !default;
$dropdown-min-width: 10rem !default;
$dropdown-offset: -.125rem !default;
$dropdown-transition: color 0s, opacity $transition-effect $transition-duration,
  transform $transition-effect $transition-duration !default;

// Footer //

$footer-variant-background: $lighter-grey !default;
$footer-variant-color: $base-color !default;
//
$footer-box-shadow: 0 0 1.5rem 0 rgba(10, 10, 10, .1);
//
$footer-spacing: 3rem $layout-spacing-x 6rem $layout-spacing-x !default;

//******************Field //

$field-background: $white !default;
$field-color: $base-color !default;
$field-color-focus: $field-color !default;
$field-placeholder-color: $light-grey !default;
$field-placeholder-color-focus: $light-grey !default;
$field-placeholder-color-active: $base-color !default;
$field-border-color: $lighter-grey !default;
$field-border-color-focus: $field-color !default;
$field-border-radius: $border-radius !default;
$field-border-width: $border-width !default;
$field-height: 2.5rem !default;
$field-label-font-weight: 600 !default;
$field-label-font-size: $font-size !default;
$field-line-height: 1.3 !default;
$field-spacing-x: 1rem !default;
$field-spacing-y: .5rem !default;
$field-text-font-size: $font-size-xs !default;
$field-height: (
  ($font-size * $field-line-height) + ($field-spacing-y * 2)
) !default;
$field-transition: border-color $transition-effect $transition-duration,
  background-color $transition-effect $transition-duration,
  color $transition-effect $transition-duration !default;
$field-select-arrow-size: .5rem !default;
$field-select-arrow-color: $light-grey !default;
$field-select-arrow-color-hover: $light-grey !default;

// Addon
$field-addon-color: $base-color !default;
$field-addon-background: $lighter-grey !default;
$field-addon-border-color: $field-border-color !default;
$field-addon-color-focus: $lighter-grey !default;
$field-addon-background-focus: $field-color-focus !default;
$field-addon-border-color-focus: $field-border-color-focus !default;

// Media object //

$media-variant-border: $light-grey !default;
//
$media-border-radius: $border-width !default;
$media-border-style: $border-style !default;
$media-border-width: $border-width !default;
//
$media-spacing-x: 1rem !default;
$media-spacing-y: 1rem !default;

//******************Navbar //

$navbar-background: rgba(255, 255, 255, .95) !default;
$navbar-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .1),
  0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !default;
$navbar-item-spacing-x: .5rem !default;
$navbar-item-spacing-y: .75rem !default;
$navbar-font-weight: 600 !default;
$navbar-container-spacing: 0 1rem !default;
$navbar-height: 3rem !default;
$navbar-image-max-height: $navbar-height/1.5 !default;
$navbar-item-color: $primary-color !default;
$navbar-item-hover-color: $secondary-color !default;
$navbar-item-hover-background: transparent !default;
$navbar-item-active-color: $primary-color !default;
$navbar-item-active-background: $base-pair !default;
$navbar-dropdown-background: $base-pair !default;
$navbar-dropdown-chevron: $primary-color !default;
$navbar-dropdown-border: $border-width $border-style transparent !default;
$navbar-dropdown-border-radius: $border-radius !default;
$navbar-dropdown-item-hover: $primary-pair !default;
$navbar-dropdown-item-hover-background: $primary-color !default;
$navbar-dropdown-item-active: $primary-color !default;
$navbar-dropdown-item-active-background: $white !default;
$navbar-dropdown-radius: $base-pair !default;
$navbar-dropdown-offset: -.125rem !default;
$navbar-fixed-spacing-y: 4rem !default;
$navbar-tab-border-hover-color: $navbar-item-hover-color !default;
$navbar-tab-border-active-color: $navbar-item-active-color !default;
$navbar-tab-border-width: $border-width !default;
$navbar-tab-spacing: $padding !default;
$navbar-tab-transition: border-color $transition-effect $transition-duration,
  color $transition-effect $transition-duration !default;
$navbar-dropdown-transition: color 0s,
  opacity $transition-effect $transition-duration,
  transform $transition-effect $transition-duration !default;

// Pagination //

$pagination-variant-background: $base-variant-background !default;
$pagination-variant-color: $base-variant-color !default;
$pagination-variant-border: $base-variant-border !default;
$pagination-variant-hover: $base-variant-hover !default;
$pagination-variant-active: $base-variant-active !default;
//
$pagination-border-radius: $border-radius !default;
$pagination-border-style: $border-style !default;
$pagination-border-width: $border-width !default;
//
$pagination-font-size: $font-size !default;
$pagination-font-weight: 500 !default;
//
$pagination-min-width: 3rem !default;
$pagination-spacing-y: .5rem !default;
$pagination-spacing-x: .75rem !default;
//
$pagination-transition: all $transition-effect $transition-duration !default;
// Dots
$pagination-dot-border-radius: $border-radius-circle !default;
$pagination-dot-size: .3rem !default;
$pagination-dot-spacing: .1rem !default;

// Stat //

$stat-value-font-family: $heading-font-family !default;
$stat-value-font-weight: 400 !default;
$stat-value-font-size: 3rem !default;
$stat-value-text-transform: uppercase !default;
$stat-label-font-family: $heading-font-family !default;
$stat-label-font-weight: 600 !default;
$stat-label-font-size: $stat-value-font-size / 4 !default;
$stat-label-text-transform: uppercase !default;
$stat-text-font-weight: 600 !default;
$stat-text-font-size: $stat-value-font-size / 2 !default;
$stat-line-height: 1em !default;
//
$stat-spacing: 1rem !default;
//
$stat-value-font-size-xs: $stat-value-font-size - 1.5rem !default;
$stat-value-font-size-sm: $stat-value-font-size - .75rem !default;
$stat-value-font-size-lg: $stat-value-font-size + .75rem !default;
$stat-value-font-size-xl: $stat-value-font-size + 1.5rem !default;

//******************Tab //

$tab-background: $lighter-grey !default;
$tab-border-width: $border-width !default;
$tab-transition: all $transition-effect $transition-duration !default;
$tab-item-spacing-x: $padding !default;
$tab-item-spacing-y: $padding / 2 !default;

// Table //

$table-variant-background: $lighter-grey !default;
$table-variant-color: $base-variant-background !default;
$table-variant-border: darken($table-variant-background, 12%) !default;
$table-variant-hover: darken($table-variant-background, 12%) !default;
$table-variant-active: darken($table-variant-background, 12%) !default;
//
$table-border-radius: $border-radius * 2 !default;
$table-border-style: $border-style !default;
$table-border-width: $border-width / 2 !default;
//
$table-spacing-x: .75rem !default;
$table-spacing-y: .75rem !default;
//
$table-transition: all $transition-effect $transition-duration !default;

//// UTILITIES ///

// Spacing //

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: (
      $spacer-x * .25
    ),
    y: (
      $spacer-y * .25
    )
  ),
  2: (
    x: (
      $spacer-x * .5
    ),
    y: (
      $spacer-y * .5
    )
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: (
      $spacer-x * 1.5
    ),
    y: (
      $spacer-y * 1.5
    )
  ),
  5: (
    x: (
      $spacer-x * 2
    ),
    y: (
      $spacer-y * 2
    )
  )
) !default;

//******************Chevron

$icon-size: .5rem !default;
$icon-border-color: $light-grey !default;
$icon-border-width: .0625rem !default;
$icon-border-style: $border-style !default;
